{% extends 'base.html.twig' %}

{% block title %}Nelson Caterino{% endblock %}

{% block body %}
{% block header %}

<header>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-white bg-black position-absolute">
      <img src="image/LOGOV2.png" class="col-1">

    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cv">Cv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-black">
    <h1 class="mb-3"></h1>
    <img src="image/LOGO.png" class="col-8">
  </div>
  <!-- Jumbotron -->
</header>
{% endblock %}

<!--===============LE CODE ?=======================================-->
<div class="container">
  <h4 class="text-center py-4 .text-light display-5">Le code ?</h4>
  <section class="lecode">
    <article class="text-center py-4 .text-light">Ensuite,
      une connaissance m’a parlé du métier Web dev – j’ai donc commencé à réaliser des recherches sur comment
      réaliser un site internet et commencé à apprendre le HTML <br><br>Je me suis renseigné sur les centres de
      formation où je pouvais apprendre ce métier. Je me suis donc présenté chez Molengeek en septembre 2019 et
      à cause des critères liés à l’âge,
      je n’ai pas été retenu pour suivre la formation. Directement après,
      j’ai suivi la préformation Développeur Web à la Mission locale de Schaerbeek,
      où au niveau technique j’ai appris plusieurs langages: nous avons commencé par HTML,
      CSS,
      Bootstrap,
      Python et son framework Django,
      Scratch,
      JQuery et une brève découverte de Machine learning. </article>
  </section>
</div>
<!--=============PROGRESS-BAR START=================================-->
<h4 class="text-center py-4 .text-light display-5">Competence</h4>
<div class="text-center py-4 col-8">
  <p style="color:white">HTML</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="95" aria-valuemin="0"
      aria-valuemax="100">90%</div>
  </div><br>
  <p style="color:white">CSS</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0"
      aria-valuemax="100">65%</div>
  </div><br>
  <p style="color:white">BOOTSTRAP 4</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="600" aria-valuemin="0"
      aria-valuemax="100">60%</div>
  </div><br>
  <p style="color:white">SYMFONY</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="13" aria-valuemin="0"
      aria-valuemax="100">50%</div>
  </div><br>

  <p style="color:white">LINUX</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
      aria-valuemax="100">40%</div>
  </div><br>
  <p style="color:white">REPARATIONS INFORMATIQUE</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="60" aria-valuemin="0"
      aria-valuemax="100">80%</div>
  </div><br>
  <p style="color:white">C#</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="60" aria-valuemin="0"
      aria-valuemax="100">10%</div>
  </div><br>
</div>
</div>
</section>
</section>
</section>--

<!--=============About Me ?=================================-->
<h4 class="text-center py-4 .text-light display-4">About Me</h4>
<section class="lecode">
  <article class="text-center py-4 .text-light">Pendant ma préformation,
    j’ai eu la chance de visiter BeCode.<br><br><br>L’explication du fonctionnement de la formation,
    l’environnement et les locaux m’ont fortement intéressé ! je me suis dit « MAIS C'EST TROP TOP !
    J'ADORE L'AMBIANCE DE TRAVAIL,<br>
    LES OBJECTIFS DE CETTE FORMATION… ENFIN UNE VERITABLE AIDE »<br><br>En effet,
    je trouve que l’ambiance incite à l’apprentissage via le travail,
    comme s’il s’agissait d’une entreprise.<br><br>De plus,
    la méthodologie active,
    c’est-à-dire,
    « learning by doing » me convient tout à fait. Pour moi,
    travailler de manière autodidacte me permet de continuer à développer mes capacités autonomie.
    L’avantage d’avoir un coach pour moi est d’avoir une liberté de travail et en même temps,
    avoir une personne de référence ayant des connaissances spécifiques. Pour moi,
    cela ressemble aussi à un project manager… <br><br>Pour moi la programmation est comme une sorte
    d’énigme à résoudre… Depuis que j’ai connu le code,
    cela est devenu ma passion et du coup,
    j’ai envie que cela devienne mon métier. Actuellement,
    je suis des tutos sur internet et essaie de créer des sites pour des personnes proches en attendant
    d’entrer en formation chez vous <br><br></article>
</section>

</body>
</main>
{% endblock %}
